.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 0 10px;
}

.title {
    text-align: center;
    flex-grow: 1;
}
