.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 100vh;

    .logo {
        margin-bottom: 100px;
    }

    .buttonWrapper {
        width: 100%;
    }
}
