.container {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    overflow-y: auto;
}

.contents {
    overflow-y: auto; /* 스크롤이 가능하도록 설정 */
    margin-bottom: 20px;
}

.contents::-webkit-scrollbar {
    width: 12px; /* 스크롤바 너비 */
}

.contents::-webkit-scrollbar-track {
    background: #e0e0e0; /* 스크롤바 트랙 색상 */
    border-radius: 10px; /* 스크롤바 트랙 라운드 */
}

.contents::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 라운드 */
    border: 3px solid #e0e0e0; /* 스크롤바와 트랙 사이의 간격 */
}

.scheduleGridContainer {
    display: flex;
    padding-bottom: 10px;
}

.timeLabels {
    position: relative;
    margin-top: 70px;
    width: 50px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    background: white; /* 백그라운드 색상을 설정하여 시간 라벨이 스크롤 시에도 보이도록 */
}

.timeLabel {
    height: 60px; /* 1시간 간격을 60px로 설정 */
}

.scheduleGrid {
    display: flex;
    padding-bottom: 2px;
    white-space: nowrap; /* 스크롤이 가능한 가로 배치 */
}

.scheduleGrid::-webkit-scrollbar {
    height: 12px; /* 가로 스크롤바 높이 */
}

.scheduleGrid::-webkit-scrollbar-track {
    background: #e0e0e0; /* 가로 스크롤바 트랙 색상 */
    border-radius: 10px; /* 가로 스크롤바 트랙 라운드 */
}

.scheduleGrid::-webkit-scrollbar-thumb {
    background-color: #888; /* 가로 스크롤바 색상 */
    border-radius: 10px; /* 가로 스크롤바 라운드 */
    border: 3px solid #e0e0e0; /* 가로 스크롤바와 트랙 사이의 간격 */
}

.scheduleDay {
    width: 105px; /* 날짜 아이템의 너비를 적절히 설정 */
    flex-shrink: 0; /* 날짜 아이템이 줄어들지 않도록 설정 */
    margin-right: 10px; /* 날짜 아이템 사이의 간격 설정 */
    padding: 10px;
    position: relative;
    height: 1440px; /* 24시간을 기준으로 높이를 설정 */
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.scheduleItem {
    position: relative;
    background: #ebecfb;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    user-select: none;
    margin-bottom: 20px;
    text-wrap: wrap;
    height: 50px;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.dragHandle {
    cursor: grab; /* 드래그 핸들로 인식되도록 설정 */
}

.hiddenItem {
    position: relative;
    background: #ebecfb;
    padding: 10px;
    border-radius: 5px;
    user-select: none;
    margin-bottom: 20px;
    text-wrap: wrap;
    height: 50px;
    overflow: hidden;
    z-index: -1; /* 기본 z-index 설정 */
    width: 100%;
    visibility: hidden;
}

.dateTextContainer {
    position: absolute;
    top: -60px;
    padding: 8px;
}

.dateText {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    width: 40px;
    text-wrap: wrap;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.buttonGap {
    width: 10px;
}

.loadingPageContainer {
    background-color: #ee4865;
    width: 100%;
    height: 100vh;
}
