.headerContainer {
    position: fixed;
    width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 0 10px;
    background-color: #ffffff;
    z-index: 9999;
}

.loadingSchedule {
    background-color: #ee4865;
}

.title {
    text-align: center;
    flex-grow: 1;
}

.iconButton {
    cursor: pointer;
}
